{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
            {% for item in receipts %}
                <td>{{ item.vendor }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.tax }}</td>
                <td>{{ item.date|date:"n/d/y" }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ item.account.name }}</td>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
